<div class="content">
  <section class="process">
    <hgroup>
      <h2>These values serve as our compass and drive our decisions individually and collectively.</h2>
      <div class="process-list">
        <ul>
          <li><strong>Service</strong><br/>We don't search for clients, we look for friends we haven't met yet who need our help. Hello friend!</li>
          <li><strong>Emotional Intelligence</strong><br/>We strive to form work environments in which everyone can be themselves and do their best work.</li>
          <li><strong>Evolution</strong><br/>We are committed to always improving what we bring to the table.</li>
          <li><strong>Communication</strong><br/>The lifeblood of any project, we strive for communication to flow between us and everyone we work with.</li>
          <li><strong>Initiative</strong><br/>We care about your success and will actively engage with you to build your vision.</li>
          <li><strong>Integrity</strong><br/>Everyone on our team is personally committed to honesty, fairness, and consistently delivering results.</li>
        </ul>
      </div>
      <br><br>
      <h2>Books that inspire us:</h2>
      <div class="books">
        <a href="http://www.amazon.com/The-Habits-Highly-Effective-People/dp/0743269519/ref=sr_1_1?ie=UTF8&qid
      =1366898588&sr=8-1" target="_new">The 7 Habits of Highly Effective People</a> by Stephen R.
        Covey<br>
        <a href="http://www.amazon.com/Good-Great-Companies-Leap-Others/dp/0066620996/ref=sr_1_1?s=books&ie=UTF8&qid=1366898702&sr=1-1" target="_new">Good to Great: Why Some Companies Make the Leap... and Others Don't</a> by Jim
        Collins<br>
        <a href="http://www.amazon.com/Quiet-Power-Introverts-World-Talking/dp/0307352153/ref=sr_1_1?s=books&ie=UTF8
      &qid=1366898777&sr=1-1" target="_new">Quiet: The Power of Introverts in a World That
          Can't Stop Talking</a> by Susan Cain<br>
        <a href="http://playbook.thoughtbot.com/" target="_new">The Playbook</a> by Thoughtbot<br>
        <a href="http://www.amazon.com/Steve-Jobs-Walter-Isaacson/dp/1451648537/ref=sr_1_1?s=books&ie=UTF8&qid
        =1366900974&sr=1-1" target="_new">Steve Jobs</a> by Walter Isaacson<br>
        <a href="http://www.amazon.com/E-Myth-Revisited-Small-Businesses-About/dp/0887307280/ref=sr_1_1?s=books&ie=UTF8&qid=1369860122&sr=1-1&keywords=e-myth" target="_new">The E-Myth Revisited</a> by Michael Gerber<br>
      </div>

      <br><br>
      <h3>See our <%= link_to 'technology stack', stack_path %>.</h3>
    </hgroup>
  </section>
</div>