<div class="content home">
  <article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <header>
      <span class='spacer'></span>
      <h1 class="quoted">We support startups with remote teams</h1>
      <br><br><br>
      <p>Rubyriders is a professional organization that helps startups adopt remote agile best practices.</p>
    </header>
    <section>

      <br><br>

      <h2>Services we provide</h2>

      <div class="process-list">
        <ol>
          <li>Agile workflow training for engineering teams that have remote workers</li>
          <li>Software engineer recruitment and pre-screening</li>
          <li>Offshore engineer contracts and payroll</li>
          <li>Group support on technical issues</li>
        </ol>
      </div>
      <br/><br/>
      <h3>Meet <%= link_to 'our members', members_path %></h3>
    </section>
  </article>
</div>