<head><%= favicon_link_tag 'favicon.ico' %>
  <title>Custom web applications from experienced ruby on rails development company | Rubyriders LLC</title>
  <meta name="keywords" content="ruby on rails company custom web application development" />
  <meta name="description" content="Experienced ruby on rails company provides custom web application development tailored to specific business needs." />
</head>
  <div class="content">
    <article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
      <header>
        <span class='spacer'></span>
        <h1 class="quoted">We are software engineers who want to turn your idea into beautifully executed reality.</h1>
      </header>
      <section>
        <h2>How we do it</h2>
        <div class="process-list">
          <ol>
            <li><strong>Listen</strong><br/>We analyze your business from top to bottom to understand your needs.</li>
            <li><strong>Build</strong><br/>Our seasoned team of developers builds your application.</li>
            <div class="highlight">
              <div class="sticky-note">
                <ul>
                  <li>
                    <a href="#">
                      <h2>!! Important</h2>
                      <p>All software must be maintained. GREAT<br>software must evolve.<br/><br/><u>We can help!</u></p>
                    </a>
                  </li>
                </ul>
              </div>
              <li><strong>Recruit</strong><br/>We can help you locate and recruit talented developers to join your
                organization long-term.</li>
              <li><strong>Train</strong><br/>As new recruits are hired we'll facilitate their integration into your organization.</li>
            </div>
            <li><strong>Support</strong><br/>We'll be there to help as your new team assumes ownership of the product.</li>
          </ol>
        </div>
        <br/><br/>
        <br/><br/>
        <h3>See how <a href="/values">our values</a> set us apart.</h3>
      </section>
    </article>
  </div>
  <footer>
    <nav>
      <ul>
        <li><a href="http://rubyridersllc.tumblr.com/"><img src="http://rubyriderscdn.appspot.com/images/tdotlogo.png" alt=""></a></li>
        <li><a href="http://github.com/rubyriders"><img src="http://rubyriderscdn.appspot.com/images/gitlogo.png" alt=""></a></li>
        <li><a href="http://twitter.com/#!/rubyriders"><img src="http://rubyriderscdn.appspot.com/images/twlogo.png" alt=""></a></li>
      </ul>
    </nav>
    <div>© 2005-2014 Rubyriders. All Rights Reserved.</div>
    <div class="decoration"></div>
  </footer>
</div>