<div class="content">
  <section class="process">
    <hgroup>
      <h1>Technology Stack</h1>
      <div class="process-list">
        <ol>
          <li><strong>Ruby on Rails</strong> rapid web application development</li>
          <li><strong>NodeJS</strong> scaling services</li>
          <li><strong>Postgres, MySQL, MongoDB</strong> databases</li>
          <li><strong>HTML5/CSS3</strong> cross browser and device compatibility</li>
          <li><strong>BackboneJS</strong> client side javascript MVC architecture</li>
          <li><strong>Github</strong> source code control</li>
          <li><strong>Heroku, Amazon Web Services, Rackspace Cloud</strong> hosting and infrastructure</li>
          <li><strong>Pivotal Tracker, Flowdock, Lighthouse</strong> operations support and team communication</li>
          <li><strong>CircleCI, Semaphoreapp</strong> continuous integration and deployment</li>
          <li><strong>CodeClimate</strong> code quality &amp; security analysis</li>
        </ol>
      </div>
      <br><br>
      <h3>Check out our <%= link_to 'amazing clients', clients_path %></h3>
    </hgroup>
  </section>
</div>
