<div class="content">
  <section class="contacts">
    <hgroup>
      <h1>Contact info</h1>
    </hgroup>
    <section>
      <div class="contact">
        1009 W. Eclipse Way<br/>
        Salt Lake City, UT 84116<br/>
        1 (925) 237-1314<br/><br/>contact@<span class="noooo">die_spammer!</span>rubyriders.com
      </div>
    </section>
  </section>
</div>