<div class="content members">
  <section class="process">
    <hgroup>
      <h2>Members</h2>

      <div class="process-list">
        <ol>
          <li><strong>Roger Graves</strong>, Co-founder &amp; CTO, <a href="http://www.cloverpop.com/" target="_new">cloverpop.com</a></li>
          <li><strong>Artem Suchov</strong>, Web developer, <a href="http://www.cloverpop.com/" target="_new">cloverpop.com</a>; Founder, trainer &amp; manager, <a href="http://www.kottans.org" target="_new">kottans.org</a></li>
          <li><strong>Dmitry Nizovtsev</strong>, Senior developer, <a href="http://www.seedchange.com/" target="_new">seedchange</a></li>
          <li><strong>Andrew Goncharenko</strong>, Ruby on rails developer, <a href="http://ua.linkedin.com/pub/andrew-goncharenko/7b/b48/40/en" target="_new" class="alert">Available in SFBay!</a></li>
          <li><strong>Elena Newton</strong>, Ruby on rails developer, <a href="http://sg.linkedin.com/in/ea0723" target="_new" class="alert">looking for work in Singapore!</a></li>
          <li><strong>Yuriy Kurenkov</strong>, Web developer, <a href="http://www.seedchange.com/" target="_new">seedchange</a></li>
          <li><strong>Ilya Nechiporenko</strong>, Ruby on rails developer, <a href="http://www.seedchange.com/" target="_new">seedchange</a></li>
          <li><strong>Artem Klevtsov</strong>, Web developer and designer, <a href="http://www.seedchange.com/" target="_new">seedchange</a></li>
          <li><strong>Vladislava Boiko</strong>, Front-end developer, <a href="http://www.decorist.com/" target="_new">Decorist</a></li>
          <li><strong>Alexander Marusik</strong>, Python django developer, <a href="http://www.decorist.com/" target="_new">Decorist</a></li>
          <li><strong>Oleksandr Tsukur</strong>, Front-end developer, <a href="http://www.decorist.com/" target="_new">Decorist</a></li>
          <li><strong>Rustem Seidaliev</strong>, Developer, <a href="http://www.decorist.com/" target="_new">Decorist</a></li>
          <li><strong>Sergey Pogorelov</strong>, Web developer, <a href="http://www.decorist.com/" target="_new">Decorist</a></li>
          <li><strong>Evgenia Troyan</strong>, Ruby on rails developer, Litigo</li>
        </ol>
      </div>
      <br><br>
      <h2>Books that inspire us:</h2>
      <div class="books">
        <a href="http://www.amazon.com/Rework-Jason-Fried/dp/0307463745/ref=sr_1_1_ha?s=books&ie=UTF8&qid=1409644448&sr=1-1&keywords=rework" target="_new">Rework</a> by Jason Fried and David Heinemeier Hansson<br>
        <a href="http://www.amazon.com/The-Habits-Highly-Effective-People/dp/0743269519/ref=sr_1_1?ie=UTF8&qid
      =1366898588&sr=8-1" target="_new">The 7 Habits of Highly Effective People</a> by Stephen R.
        Covey<br>
        <a href="http://www.amazon.com/Good-Great-Companies-Leap-Others/dp/0066620996/ref=sr_1_1?s=books&ie=UTF8&qid=1366898702&sr=1-1" target="_new">Good to Great: Why Some Companies Make the Leap... and Others Don't</a> by Jim
        Collins<br>
        <a href="http://www.amazon.com/Quiet-Power-Introverts-World-Talking/dp/0307352153/ref=sr_1_1?s=books&ie=UTF8
      &qid=1366898777&sr=1-1" target="_new">Quiet: The Power of Introverts in a World That
          Can't Stop Talking</a> by Susan Cain<br>
        <a href="http://playbook.thoughtbot.com/" target="_new">The Playbook</a> by Thoughtbot<br>
        <a href="http://www.amazon.com/Steve-Jobs-Walter-Isaacson/dp/1451648537/ref=sr_1_1?s=books&ie=UTF8&qid
        =1366900974&sr=1-1" target="_new">Steve Jobs</a> by Walter Isaacson<br>
        <a href="http://www.amazon.com/E-Myth-Revisited-Small-Businesses-About/dp/0887307280/ref=sr_1_1?s=books&ie=UTF8&qid=1369860122&sr=1-1&keywords=e-myth" target="_new">The E-Myth Revisited</a> by Michael Gerber<br>
      </div>

      <br><br>
      <h3>Need some help? <%= link_to 'Contact us', contacts_path %>!</h3>
    </hgroup>
  </section>
</div>